/Solution/VSHG/obj
/Solution/VSHG/bin
/Solution/.vs
/Solution/packages
/Solution/HGLib/bin/Debug
/Solution/HGLib/obj/Debug
/Solution.7z
/Solution/HGLib/bin/Release
/Solution/HGLib/obj/Release
/Solution/UpgradeLog3.htm
